// View more
button.view-more{
  & span{
    display: flex;
    align-content: center;
  }
}

// Default Button
button.button, input.submit, .button a.wp-block-button__link{
  background-color: $color-aqua;

  padding: 0.9rem 3.7rem;
  border: none;
  box-shadow: 0 0 2px #0000008c;
  transition: .3s;
  outline: none;
  //font-family: "Inter",sans-serif;
  cursor: pointer;
  & span{
    //display: inline-block;
    color: #fff;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.25rem;

  }
  &:hover{
    background: $color-turqaise;
  }
}

button.button-skew{

  transform: skew(-45deg);

  & span{

    transform: skew(45deg);
  }

}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .wp-block-button__link.add_to_cart_button.ajax_add_to_cart {
  color: #ffffff;
  background-color: $color-aqua !important;
  font-weight: normal;
  text-transform: none;
  &:hover{
    background-color: $color-turqaise !important;
  }
}

button, html input[type=button], input[type=reset], input[type=submit], a.button, a.button:visited, a.wp-block-button__link:not(.has-background) {
  color: #ffffff;
  background-color: $color-aqua !important;
  &:hover{
    background-color: $color-turqaise !important;
  }
}