$color-dark-blue: #080631;
$color-blue: #164177;
$color-aqua: #36A9B8;
$color-turqaise: #51e9d2;
$color-green: #2C9E8B;
$color-green-light: #70F8BA;
$color-orange-dark: #F08700;
$color-orange: #F49F0A;
$color-yelow: #EFCA08;
$color-pink: #B63E74;
$color-dark: #333333;
$color-light: #eeeeee;


.color-green{
  color: $color-green;
}
.color-orange-dark{
  color: $color-orange-dark;
}
.color-orange{
  color: $color-orange;
}
.color-orange-yellow{
  color: $color-yelow;
}
.color-pink{
  color: $color-pink;
}